/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.notofont {
  font-family: 'Noto Serif', serif;
}
.flexing {
  display: flex;
  justify-content: center;
}
.stylenav {
  width: 50rem;
  height: 5rem;
  background-color: black;
}
.stylelinks {
  margin: 2rem;
  color: white;
  font-size: 1.4rem;
}
.stylecontainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 60rem;
  height: 35rem;
  background-color: #c4c4c4;
}
.h2styling {
  font-size: 2.8rem;
  font-family: 'Noto Serif', serif;
  margin-left: 1rem;
  margin-top: 5rem;
}
.break-line {
  flex-basis: 100%;
  width: 0;
}
html,
body {
  height: 100%;
}
header {
  display: flex;
  justify-content: center;
}
.nav-container {
  width: 50rem;
  height: 5rem;
  background-color: black;
}
nav a {
  font-family: [object Object];
  text-decoration: none;
  margin: 2rem;
  color: white;
  font-size: 1.4rem;
}
section {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 60rem;
  height: 35rem;
  background-color: #c4c4c4;
  justify-content: flex-start;
  flex-wrap: wrap;
}
img {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 22rem;
  height: 15rem;
}
h2 {
  font-size: 2.8rem;
  font-family: 'Noto Serif', serif;
  margin-left: 1rem;
  margin-top: 5rem;
}
p {
  margin-left: 0.5rem;
  margin-top: 2rem;
  font-family: 'Noto Serif', serif;
}
#line {
  margin-bottom: 1rem;
  color: #b3b3b3;
  margin-left: 1.5rem;
}
.break {
  flex-basis: 100%;
  width: 0;
}
.button {
  margin-left: 10rem;
  width: 6rem;
  height: 2rem;
  color: blue;
}
/*--Out of container*/
section {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.text-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 3px solid black;
  width: 20rem;
  height: 20rem;
  margin-top: 2rem;
}
.text-header {
  font-size: 1.5rem;
}
.text {
  line-height: 2rem;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 3px solid black;
  width: 20rem;
  height: 20rem;
  margin-top: 2rem;
}
.text-list {
  font-size: 1.2rem;
  line-height: 2rem;
}
/*Beginning of Table Element*/
.table-section {
  display: flex;
  justify-content: flex-start;
}
.table-container {
  width: 90%;
  height: 20rem;
  border: 3px solid black;
  margin-left: 4rem;
  margin-top: 2rem;
}
table {
  border-spacing: 3rem;
  width: 100%;
}
caption {
  font-family: 'Noto Serif', serif;
  font-size: 2rem;
}
th {
  border: 3px solid black;
  margin: 3rem;
}
td {
  padding: 2rem;
}
.table-section .table-container table tr {
  background-color: #b6b6b6;
}
.table-section .table-container table tr + tr {
  background-color: white;
}
.table-section .table-container table tr + tr + tr {
  background-color: #bdbbbb;
}
.table-section .table-container table tr + tr + tr + tr {
  background-color: white;
}
/*footer */
footer {
  display: flex;
  justify-content: center;
}
.bottom-container {
  width: 50rem;
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.bottom-container p {
  color: white;
}
@media (max-width: 500px) {
  .container {
    height: 45rem;
  }
  nav a {
    margin: 0 auto;
    border: 1rem solid black;
  }
  #line {
    color: #b3b3b3;
  }
  .paragraph {
    margin-bottom: 2rem;
  }
  .text-container {
    border: none;
  }
  .text-container2 {
    border: none;
  }
  .text {
    line-height: 1.6rem;
  }
  .text-list {
    margin-left: 2rem;
    margin-bottom: 3rem;
  }
  .table-section {
    width: 100%;
    border: none;
    margin-right: 3rem;
  }
  .table-container {
    border: none;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}
